<%= form_for(@referente, :html => {:class => 'form-horizontal container-fluid'}) do |f| %>
  <% if @referente.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errores.errores') %></h2>
      
      <ul>
      <% @referente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label", for: "referente_nombre" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :apellido, class: "col-md-1 control-label", for: "referente_apellido" %>
    <div class="col-md-10">
      <%= f.text_field :apellido, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t("common.telefono"), class: "col-md-1 control-label", for: "referente_telefono" %>
    <div class="col-md-10">
      <%= f.text_field :telefono, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Dia", class: "col-md-1 control-label", for: "referente_dia" %>
    <div class="col-md-10">
      <%= f.collection_select :dia, ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], :to_s, :humanize, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Area", class: "col-md-1 control-label", for: "referente_area_id" %>
    <div class="col-md-10">
      <%= f.collection_select :area_id, Area.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <%= render 'layouts/buttons_submit', path: referentes_path, f: f, remote: false %>

<% end %>
