

<p>
  <strong>Nombre:</strong>
  <%= @referente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @referente.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @referente.telefono %>
</p>

<p>
  <strong>Area:</strong>
  <%= @referente.area %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @referente.dia %>
</p>

<%= link_to 'Edit', edit_referente_path(@referente) %> |
<%= link_to 'Back', referentes_path %>
