<%= form_for(@person, :html => {:class => 'form-horizontal container-fluid'} ) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label", for: "person_nombre" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :apellido, class: "col-md-1 control-label", for: "person_apellido" %>
    <div class="col-md-10">
      <%= f.text_field :apellido, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dni, class: "col-md-1 control-label", for: "person_dni" %>
    <div class="col-md-10">
      <%= f.text_field :dni, class: "form-control", type: "number" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefono, class: "col-md-1 control-label", for: "person_telefono" %>
    <div class="col-md-10">
      <%= f.text_field :telefono, class: "form-control", type: "number" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fecha_nacimiento, class: "col-md-1 control-label", for: "person_fecha_nacimiento" %>
    <div class="col-md-10">
      <%= f.date_field :fecha_nacimiento, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Area", class: "col-md-1 control-label", for: "person_area_id" %>
    <div class="col-md-10">
      <%= f.collection_select :area_id, Area.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Zona", class: "col-md-1 control-label", for: "person_zone_id" %>
    <div class="col-md-9">
      <%= f.collection_select :zone_id, Zone.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>

    <div class="col-md-1">
      <%= link_to image_tag("plus.jpg", width: '32', heigth: '32'), '#new_zone_modal', 'data-toggle' => 'modal' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Ranchada", class: "col-md-1 control-label", for: "person_ranchada_id" %>
    <div class="col-md-9">
      <%= f.collection_select :ranchada_id, Ranchada.all, :id, :nombre, {:include_blank => 'Ninguna'}, {:class => "form-control"} %>
    </div>

    <div class="col-md-1">
      <%= link_to image_tag("plus.jpg", width: '32', heigth: '32'), '#new_ranchada_modal', 'data-toggle' => 'modal' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Grupo Familiar", class: "col-md-1 control-label", for: "person_familia_id" %>
    <div class="col-md-9">
      <%= f.collection_select :familia_id, Familia.all, :id, :nombre, {:include_blank => 'Ninguno'}, {:class => "form-control"} %>
    </div>

    <div class="col-md-1">
      <%= link_to image_tag("plus.jpg", width: '32', heigth: '32'), '#new_familia_modal', 'data-toggle' => 'modal' %>
    </div>
  </div>

  <%= f.fields_for :visits do |field| %>
    <div class="form-group">
      <%= field.label :latitud, class: "col-md-1 control-label", for: "person_visit_latitud" %>
      <div class="col-md-5">
        <%= field.text_field :latitud, class: "form-control" %>
      </div>
      <%= field.label :longitud, class: "col-md-1 control-label", for: "person_visit_longitud" %>
      <div class="col-md-5">
        <%= field.text_field :longitud, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= field.label 'Ubicación', class: "col-md-1 control-label", for: "googleMapPersona" %>
      <div class="col-md-10">
        <div id="googleMapPersona" class="mapaUbicacionPersona form-control"></div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Historial de ubicaciones", class: "col-md-1 control-label" %>
    <div class="col-md-8">
       Historial de ubicaciones
    </div>
  </div>

  <div class="form-group">
    <%= f.label :descripcion, class: "col-md-1 control-label", for: "person_descripcion" %>
    <div class="col-md-10">
      <%= f.text_area :descripcion, class: "form-control", type: "text" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_zone_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelZona" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelZona">Nueva Zona</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'zones/form', :@zone => Zone.new, modal: true %>
      </div>
    </div>
  </div>
</div>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_ranchada_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelRanchada" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelRanchada">Nueva Ranchada</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'ranchadas/form', :@ranchada => Ranchada.new, modal: true %>
      </div>
    </div>
  </div>
</div>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_familia_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFamilia" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabelFamilia">Nueva Familia</h4>
      </div>
      <div class="modal-body">
        <%# Render the new zone form (passing modal => true to enable remote => true) %>
        <%= render 'familias/form', :@familia => Familia.new, modal: true %>
      </div>
    </div>
  </div>
</div>


<script defer>
  loadMapaScript('cargarUbicacionPersona');
</script>