<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<div class="row">
  <%= form_for(@person, :html => {:class => 'col s10'} ) do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('common.errores.errores') %></h2>
        <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :nombre, :disabled => disabled %>
        <%= f.label :nombre %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :apellido, :disabled => disabled %>
        <%= f.label :apellido %>
      </div>
    </div>

    <% if RolDataAccess.puede_ver_datos_persona(current_user) %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :dni, :disabled => disabled %>
          <%= f.label :dni %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :telefono, type: "number", :disabled => disabled %>
          <%= f.label :telefono %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.date_field :fecha_nacimiento, :disabled => disabled %>
          <%= f.label :fecha_nacimiento %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s10">
        <%= f.collection_select :area_id, Area.activas, :id, :nombre, {:include_blank => false}, {:disabled => disabled} %>
        <%= f.label :area_id, "Sede"%>
      </div>
      <% if RolDataAccess.is_admin(current_user) %>
        <div class="col s2">
          <%= link_to material_icon.add, '#new_area_modal', class: "btn-floating modal-trigger" %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="input-field col s10">
        <%= f.collection_select :zone_id, @zonas, :id, :nombre, {:include_blank => false}, {:disabled => disabled} %>
        <%= f.label :zone_id, "Zona"%>
      </div>
      <% if RolDataAccess.is_admin(current_user) %>
        <div class="col s2">
          <%= link_to material_icon.add, '#new_zone_modal', class: "btn-floating modal-trigger" %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :institucion_id, Institucion.all, :id, :nombre, {:include_blank => true}, {:disabled => disabled} %>
        <%= f.label :institucion_id, "Institución" %>
      </div>
    </div>

    <% if RolDataAccess.puede_ver_datos_persona(current_user) %>
      <div class="row">
        <div class="input-field col s4">
          <%= f.text_field :pantalon, :disabled => disabled %>
          <%= f.label :pantalon %>
        </div>

        <div class="input-field col s4">
          <%= f.text_field :remera, :disabled => disabled %>
          <%= f.label :remera %>
        </div>

        <div class="input-field col s4">
          <%= f.text_field :zapatillas, :disabled => disabled %>
          <%= f.label :zapatillas %>
        </div>
      </div>

      <% if RolDataAccess.puede_ver_estado(current_user) %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.collection_select :estado_id, Estado.activos, :id, :nombre, {:include_blank => 'Ninguno'}, {:disabled => disabled} %>
            <%= f.label :estado_id, t("activerecord.models.estado.one") %>
          </div>
        </div>
      <% end %>

      <% if RolDataAccess.puede_ver_departamento(current_user) %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.collection_select :departamento_ids, Departamento.activos, :id, :nombre, {:include_blank => true}, {multiple: true, :disabled => disabled} %>
            <%= f.label :departamento_ids, t("activerecord.models.departamento.other") %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% primero = true %>
    <%= f.fields_for :visits do |field| %>
    <% if primero %>
      <% primero = false %>

        <div class="row">
          <div class="input-field col s12">
            <%= field.text_field :direccion, :disabled => disabled %>
            <%= field.label :direccion, 'Dirección' %>
          </div>
        </div>

        <div class="row">
          <% if !Rails.env.production? %>
            <div class="input-field col s6">
              <%= field.text_field :latitud, :disabled => disabled %>
              <%= field.label :latitud %>
            </div>
            <div class="input-field col s6">
              <%= field.text_field :longitud, :disabled => disabled %>
              <%= field.label :longitud %>
            </div>
          <% else %>
            <%= field.hidden_field :latitud, :disabled => disabled %>
            <%= field.hidden_field :longitud, :disabled => disabled %>
          <% end %>
        </div>

        <div class="form-group">
          <%= field.label 'Ubicación', class: "col-md-1 control-label", for: "googleMapPersona" %>
          <div class="col-md-10">
            <div id="googleMapPersona" class="mapaUbicacionPersona"></div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if RolDataAccess.puede_ver_datos_persona(current_user) %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :descripcion, class:"materialize-textarea", :disabled => disabled %>
          <%= f.label :descripcion %>
        </div>
      </div>
    <% end %>

    <%= render 'layouts/buttons_submit', path: path, f: f, mostrar_aceptar: puede_editar %>

  <% end %>

  <div id="modalsDiv">
    <%= render 'modals' %>
  </div>

  <% if @person.id %>
    <div id="mapDisabled"></div>
  <% end %>

  <script defer>
    loadMapaScript('cargarUbicacionPersona');
  </script>

</div>
