<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info people %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Área</th>
          <th>Zona</th>
          <% if RolDataAccess.puede_ver_departamento(current_user) %>
            <th><%= t("activerecord.models.departamento.other") %></th>
          <% end %>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.nombre %></td>
            <% if person.visits.nil? %>
              <td></td>
            <% else %>
              <td><%= person.visits.first.direccion %></td>
            <% end %>
            <% if person.zone.nil? %>
              <td>Sin area</td>
            <% else %>
              <td><%= person.zone.area.nombre %></td>
            <% end %>
            <% if person.zone.nil? %>
              <td>Sin zona</td>
            <% else %>
              <td><%= person.zone.nombre %></td>
            <% end %>
            <% if RolDataAccess.puede_ver_departamento(current_user) %>
              <td><%= person.departamentos.map { |d| d.nombre }.join(', ') %></td>
            <% end %>
            <td>
              <%=
                render 'layouts/acciones',
                current_user: current_user,
                visits_person_id: person.id,
                edit_path: edit_person_path(person),
                delete_path: RolDataAccess.puede_borrar_persona(current_user) ? person : nil
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate people, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>

