<div id="filterrific_results">

  <div>
    <%= page_entries_info people %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% if !Rails.env.production? %>
          <th>Id</th>
        <% end %>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Zona</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <% if !Rails.env.production? %>
            <td><%= person.id %></td>
          <% end %>
          <td><%= person.nombre %></td>
          <td><%= person.apellido %></td>
          <% if person.zone.nil? %>
            <td>Sin zona</td>
          <% else %>
            <td><%= person.zone.nombre %></td>
          <% end %>
          <% if person.state.nil? %>
            <td>Sin estado</td>
          <% else %>  
            <td><%= person.state.nombre %></td>
          <% end %>
          <td><%= link_to 'Editar', edit_person_path(person) %></td>
          <td><%= link_to 'Borrar', person, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate people, renderer: BootstrapPagination::Rails, :class => 'pagination-centered' %>

</div>

