<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info people %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Área</th>
          <th>Zona</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.id %></td>
            <td><%= person.nombre %></td>
            <td><%= person.apellido %></td>
            <% if person.zone.nil? %>
              <td>Sin area</td>
            <% else %>
              <td><%= person.zone.area.nombre %></td>
            <% end %>
            <% if person.zone.nil? %>
              <td>Sin zona</td>
            <% else %>
              <td><%= person.zone.nombre %></td>
            <% end %>
            <td>
              <%=
                render 'layouts/acciones',
                current_user: current_user,
                visits_person_id: person.id,
                edit_path: edit_person_path(person),
                delete_path: person
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate people, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>

