<div id="filterrific_results">

  <div>
    <%= page_entries_info people %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Area</th>
        <th>Zona</th>
        <th>Visitas</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.id %></td>
          <td><%= person.nombre %></td>
          <td><%= person.apellido %></td>
          <% if person.zone.nil? %>
            <td>Sin area</td>
          <% else %>
            <td><%= person.zone.area.nombre %></td>
          <% end %>
          <% if person.zone.nil? %>
            <td>Sin zona</td>
          <% else %>
            <td><%= person.zone.nombre %></td>
          <% end %>
          <td><%= link_to "Visitas", :controller => 'visits', :action => :index, :person_id => person.id %></td>


          <td><%= link_to 'Editar', edit_person_path(person) %></td>
          <td><%= link_to 'Borrar', person, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate people, renderer: BootstrapPagination::Rails, :class => 'pagination-centered' %>

</div>

