<p id="notice"><%= notice %></p>

<h2 class="sub-header">Personas</h2>

<div class="table-responsive">

<%= form_for_filterrific @filterrific do |f| %>

  <div>
    Nombre / Apodo
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    Zona
    <%= f.select(
      :with_zone_id,
      @filterrific.select_options[:with_zone_id],
      { include_blank: 'Todas' }
    ) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'people/list',
  locals: { people: @people }
) %>
  
</div>
<br>

<%= button_to 'Nueva persona', new_person_path, :class => 'button btn btn-lg btn-primary pull-right', :method => :get %>
