

<p>
  <strong>Nombre:</strong>
  <%= @person.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @person.apellido %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @person.zone %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
