<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@visit, :html => {:class => 'form-horizontal container-fluid'})  do |f| %>
  <%= render 'shared/errors', obj: @visit %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :person_id, Person.activas, :id, :nombre, {:include_blank => true}, {:disabled => disabled} %>
      <%= f.label :person_id, "Persona", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :fecha, class: "datepicker", :disabled => disabled %>
      <%= f.label :fecha, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :descripcion, class:"materialize-textarea", :disabled => disabled %>
      <%= f.label :descripcion, 'Comentario', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :direccion, :disabled => disabled %>
      <%= f.label :direccion, 'Dirección', class: "active" %>
    </div>
  </div>

  <div class="row">
    <% if !Rails.env.production? %>
      <div class="input-field col s6">
        <%= f.text_field :latitud, :disabled => disabled %>
        <%= f.label :latitud, class: "active" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :longitud, :disabled => disabled %>
        <%= f.label :longitud, class: "active" %>
      </div>
    <% else %>
      <%= f.hidden_field :latitud, :disabled => disabled %>
      <%= f.hidden_field :longitud, :disabled => disabled %>
    <% end %>
  </div>

  <%= render 'shared/pedidosPersona', selectorPersona: "visit_person_id" %>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "col-md-1 control-label", for: "googleMapVisita" %>
    <div class="col-md-10">
      <div id="googleMapVisita" class="mapaUbicacionZona"></div>
    </div>
  </div>

  <%= render 'layouts/buttons_submit', path: visits_path(nil, :person_id => params[:person_id]), f: f, remote: false, mostrar_aceptar: !disabled %>

<% end %>

<%= render 'pedidos/modals', selectorPersona: "visit_person_id" %>

<% if disabled %>
  <div id="mapDisabled"></div>
<% end %>

 <script defer>
  loadMapaScript('cargarUbicacionVisita');
 </script>
