<p id="notice"><%= notice %></p>

<h2 class="sub-header">Visitas</h2>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row-fluid">
      <div class="col-md-3">
        Zona
        <%= f.select(
          :with_zone_id,
          @filterrific.select_options[:with_zone_id],
          { include_blank: 'Todas' }
        ) %>
      </div>

      <div class="col-md-6">
        Nombre / Apodo
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
    </div>
  <% end %>

</div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>

  <%= render(
    partial: 'visits/list',
    locals: { visits: @visits }
  ) %>

<br>

<%= link_to 'Agregar visita', new_visit_path(:person_id => params[:person_id] ), :class => 'button btn btn-sm btn-primary pull-right'%>
