

<p>
  <strong>Descripcion:</strong>
  <%= @visit.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @visit.fecha %>
</p>

<p>
  <strong>Person:</strong>
  <%= @visit.person %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @visit.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @visit.longitud %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
