<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info auditorias %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Email</th>
          <th>Acción</th>
          <th>Entidad</th>
          <th>Id</th>
          <th>Descripción</th>
        </tr>
      </thead>

      <tbody>
        <% @auditorias.each do |auditoria| %>
          <tr>
            <td><%= auditoria.fecha %></td>
            <td><%= auditoria.email %></td>
            <td><%= auditoria.accion %></td>
            <td><%= auditoria.entidad %></td>
            <td><%= auditoria.entity_id %></td>
            <td><%= auditoria.descripcion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate auditorias, renderer: BootstrapPagination::Rails, :class => 'pagination-centered' %>

</div>