<h2 class="sub-header">Auditoria</h2>

<div class="table-responsive well">
  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row-fluid">
      <div class="col-md-4">
        Email
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :with_email,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
    </div>

    <div class="col-md-4">
      Acción
      <%= f.select(
        :with_accion,
        @filterrific.select_options[:with_accion],
        { include_blank: 'Todas' }
      ) %>
    </div>

    <div class="col-md-4">
      Entidad
      <%= f.select(
        :with_entidad,
        @filterrific.select_options[:with_entidad],
        { include_blank: 'Todas' }
      ) %>
    </div> 

  <% end %>
</div>

<%= render 'list', auditorias: @auditorias %>
