<h2 class="sub-header">Auditoría</h2>

<div class="container-fluid">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col s2">
        <%= f.select(
          :with_accion,
          @filterrific.select_options[:with_accion],
          { include_blank: 'Acción' },
          { class: "form-control" }
        ) %>
      </div>

      <div class="col s2 offset-s2">
        <%= f.select(
          :with_entidad,
          @filterrific.select_options[:with_entidad],
          { include_blank: 'Entidad' },
          { class: "form-control" }
        ) %>
      </div>

      <div class="col s3 offset-s3">
        <%= f.text_field(
          :with_email,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Email'
        ) %>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <%= render 'shared/filtroFecha', f: f %>
      </div>
      <div class="col s3">
        <%= render 'shared/filtroFecha', f: f, filtro: :fecha_lte, label: 'Hasta' %>
      </div>
    </div>

    <% end %>
  </div>

</div>

<%= render 'list', auditorias: @auditorias %>

<script type="text/javascript">
  $('#filterrific_fecha_gte').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es'
  });
  $('#filterrific_fecha_lte').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es'
  });
</script>
