<h2 class="sub-header">Auditoría</h2>

<div class="table-responsive well">
  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row-fluid">
      <div class="col-md-4">
        Email
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :with_email,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>

      <div class="col-md-4 form-group">
        Acción
        <%= f.select(
          :with_accion,
          @filterrific.select_options[:with_accion],
          { include_blank: 'Todas' }
        ) %>
      </div>

      <div class="col-md-4 form-group">
        Entidad
        <%= f.select(
          :with_entidad,
          @filterrific.select_options[:with_entidad],
          { include_blank: 'Todas' }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-md-4">
        Desde
        <%= f.date_field :fecha_gte %>
      </div>

      <div class="col-md-4">
        Hasta
        <%= f.date_field :fecha_lte %>
      </div>
    </div>
  <% end %>

</div>

<%= render 'list', auditorias: @auditorias %>
