<div id="filterrific_results">

  <span> Mostrando <b><%= @personas.length %></b> persona/s </span>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Área</th>
          <th>Zona</th>
          <th>Fecha última visita</th>
          <th>Ubicación</th>
        </tr>
      </thead>

      <tbody>
        <% @personas.each do |persona| %>
          <tr>
            <td><%= persona.id %></td>
            <td><%= persona.nombre %></td>
            <td><%= persona.apellido %></td>
            <% if persona.zone.nil? %>
              <td>Sin area</td>
            <% else %>
              <td><%= persona.zone.area.nombre %></td>
            <% end %>
            <% if persona.zone.nil? %>
              <td>Sin zona</td>
            <% else %>
              <td><%= persona.zone.nombre %></td>
            <% end %>
            <% if persona.visits.first.nil? %>
              <td></td>
            <% else %>
              <td><%= persona.visits.first.fecha %></td>
            <% end %>
            <td>
              <%= link_to image_tag('mapa.png', size: '56x30', class: 'icono-ubicacion'),
                '#',
                class: 'ubicacion_modal',
                id: "ubicacion_modal_id_#{persona.id}",
                onClick: "cargarUbicacion(#{persona.id})",
                  data: {
                    latitud: "#{persona.visits.first.latitud}",
                    longitud: "#{persona.visits.first.longitud}"
                  }
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<%= render 'modal_ubicacion', selector: '#ubicacion_modal_id_' %>
