<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info @voluntarios %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Sede</th>
          <th>Rol</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Días</th>
          <th>Fecha última actividad</th>
        </tr>
      </thead>

      <tbody>
        <% @voluntarios.each do |voluntario| %>
          <tr>
            <td><%= voluntario.name %></td>
            <td><%= voluntario.apellido %></td>
            <% if voluntario.area.nil? %>
              <td>Sin Sede</td>
            <% else %>
              <td><%= voluntario.area.nombre %></td>
            <% end %>
            <% if voluntario.rol.nil? %>
              <td>Sin rol</td>
            <% else %>
              <td><%= voluntario.rol.nombre %></td>
            <% end %>
            <td><%= voluntario.email %></td>
            <td><%= voluntario.telefono %></td>
            <td><%= voluntario.jornadas.map { |d| d.nombre }.join ', ' %></td>
            <% if voluntario.auditorias.last.nil? %>
              <td></td>
            <% else %>
              <td><%= voluntario.auditorias.order(:fecha).last.fecha %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate @voluntarios, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>
