
<h2 class="sub-header">Fecha de cumpleaños
<%= link_to image_tag('excel-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'cumpleanios-xlsx'
%>
</h2>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-2 margen-vert">
        Área
        <%= f.select(
          :with_area_id,
          @filterrific.select_options[:with_area_id],
          { include_blank: 'Todas' }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-2 margen-vert">
        Zona
        <%= f.select(
          :with_zone_id,
          @filterrific.select_options[:with_zone_id],
          { include_blank: 'Todas' }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-4 margen-vert">
        Nombre / Apodo
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-4 margen-vert">
        Activo desde
        <%= f.date_field :personas_activas, :value => @filterrific.to_hash()['personas_activas'] %>
      </div>
    </div>

  <% end %>

</div>

<%= render 'cumpleanios', personas: @personas %>

<script defer>
  downloadXlsx('cumpleanios-xlsx', 'filterrific_filter');
</script>
