
<h2 class="sub-header">Fecha de cumpleaños
<%= link_to image_tag('excel-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'cumpleanios-xlsx'
%>
</h2>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>

    <%= render 'shared/filtroArea', f: f %>

    <%= render 'shared/filtroZona', f: f %>

    <%= render 'shared/filtroTexto', f: f, labelSearcher: 'Nombre / Apodo' %>

    <%= render 'shared/filtroFecha', f: f, filtro: :personas_activas, defaulValue: @filterrific.to_hash()['personas_activas'] %>

  <% end %>

</div>

<%= render 'cumpleanios', personas: @personas %>

<script defer>
  downloadXlsx('cumpleanios-xlsx', 'filterrific_filter');
</script>
