<% @personas.each do |persona| %>
    <div class="-page-break"></div>
    <div> Nombre/apellido: <%= persona.nombre %> <%= persona.apellido %> </div>
    <div> Edad: <%= age(persona.fecha_nacimiento) if persona.fecha_nacimiento %>  </div>
    <div> Telefono: <%= persona.telefono %> </div>
    <div> Estado: <%= persona.estado.nombre if persona.estado %> </div>
    <div> DNI: <%= persona.dni %> </div>
    <div> Ubicación: <%= persona.visits.first.direccion if persona.visits.first %> </div>
    <div> Relación/avances: <%= persona.descripcion %> </div>
    <div> Áreas Involucradas: <%= persona.departamentos.map { |d| d.nombre }.join(', ') %> </div>
    <br clear="all" style="page-break-before:always" />
<% end %>
