
<h2 class="sub-header">Personas activas
<%= link_to image_tag('excel-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'personas-xlsx'
%>
<%= link_to image_tag('word-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'personas-word'
%>
</h2>

<div class="container-fluid well">

  <%= form_for_filterrific @filterrific do |f| %>

    <%= render 'shared/filtroArea', f: f %>

    <%= render 'shared/filtroZona', f: f %>

    <%= render 'shared/filtroTexto', f: f, labelSearcher: 'Nombre / Apodo' %>

    <%= render 'shared/filtroFecha', f: f, filtro: :personas_activas, defaulValue: @filterrific.to_hash()['personas_activas'] %>

  <% end %>

</div>

<%= render 'personas', personas: @personas %>

<script defer>
  downloadXlsx('personas-xlsx', 'filterrific_filter');
  downloadWord('personas-word', 'filterrific_filter');
</script>
