
<h2 class="sub-header">Visitas por zona
<%= link_to image_tag('excel-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'visitas-xlsx'
%>
</h2>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <%= render 'shared/filtroArea', f: f, filtro: :visitas %>
      <%= render 'shared/filtroFecha', f: f, defaulValue: @filterrific.to_hash()['fecha_gte'] %>
    </div>
  <% end %>

</div>

<%= render 'visitas', visitas: @visitas %>

<script defer>
  downloadXlsx('visitas-xlsx', 'filterrific_filter');
</script>
