
<h2 class="sub-header">Voluntarios activos
<%= link_to image_tag('excel-icon.png', size: '30x30'),
  '',
  class: 'ubicacion_modal',
  id: 'voluntarios-xlsx'
%>
</h2>

<div class="container-fluid well">

  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <%= render 'shared/filtroArea', f: f %>

      <%= render 'shared/filtroTexto', f: f %>

      <%= render 'shared/filtroFecha', f: f, filtro: :voluntarios_activos, defaulValue: @filterrific.to_hash()['voluntarios_activos'] %>
    </div>
  <% end %>

</div>

<%= render 'voluntarios', voluntarios: @voluntarios %>

<script defer>
  downloadXlsx('voluntarios-xlsx', 'filterrific_filter');
</script>
