<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@institucion, :html => {:class => 'form-horizontal container-fluid'} ) do |f| %>
  <% if @institucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errores.errores') %></h2>
      <ul>
      <% @institucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :institucion_tipo_id, "Tipo", class: "col-md-1 control-label" %>
    <div class="col-md-10">
      <%= f.collection_select :institucion_tipo_id, InstitucionTipo.all, :id, :nombre, {:include_blank => true}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :descripcion, "Descripci贸n", class: "col-md-1 control-label"%>
      <div class="col-md-10">
        <%= f.text_area :descripcion, class: "form-control", type: "text", :disabled => disabled %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label :direccion, 'Direcci贸n', class: "col-md-1 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :direccion, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contacto, class: "col-md-1 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :contacto, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefono, class: "col-md-1 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :telefono, class: "form-control", :disabled => disabled %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :codigo_postal, 'C贸digo postal', class: "col-md-1 control-label"%>
    <div class="col-md-10">
      <%= f.text_field :codigo_postal, class: "form-control", :disabled => disabled %>
    </div>
  </div>
 
  <%= f.hidden_field :latitud, class: "form-control", :disabled => disabled %>
  <%= f.hidden_field :longitud, class: "form-control", :disabled => disabled %>

  <div class="form-group">
    <%= f.label 'Ubicaci贸n', class: "col-md-1 control-label", for: "googleMapPersona" %>
    <div class="col-md-10">
      <div id="googleMapPersona" class="mapaUbicacionPersona"></div>
    </div>
  </div>
  
  <%= render 'layouts/buttons_submit', path: path, f: f, mostrar_aceptar: puede_editar %>

<% end %>

<script defer>
  loadMapaScript('cargarUbicacionInstitucion');
</script>
