<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@institucion, :html => {:class => 'form-horizontal container-fluid'} ) do |f| %>
  <% if @institucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errores.errores') %></h2>
      <ul>
      <% @institucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label", for: "institucion_nombre" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :descripcion, class: "col-md-1 control-label", for: "institucion_descripcion" %>
      <div class="col-md-10">
        <%= f.text_area :descripcion, class: "form-control", type: "text", :disabled => disabled %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label 'Dirección', class: "col-md-1 control-label", for: "institucion_direccion" %>
    <div class="col-md-10">
      <%= f.text_field :direccion, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Localidad', class: "col-md-1 control-label", for: "institucion_localidad" %>
    <div class="col-md-10">
      <%= f.text_field :localidad, class: "form-control", :disabled => disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Provincia', class: "col-md-1 control-label", for: "institucion_provincia" %>
    <div class="col-md-10">
      <%= f.text_field :provincia, class: "form-control", :disabled => disabled %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label 'Código postal', class: "col-md-1 control-label", for: "institucion_codigo_postal" %>
    <div class="col-md-10">
      <%= f.text_field :codigo_postal, class: "form-control", :disabled => disabled %>
    </div>
  </div>
 
  <%= f.hidden_field :latitud, class: "form-control", :disabled => disabled %>
  <%= f.hidden_field :longitud, class: "form-control", :disabled => disabled %>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "col-md-1 control-label", for: "googleMapPersona" %>
    <div class="col-md-10">
      <div id="googleMapPersona" class="mapaUbicacionPersona"></div>
    </div>
  </div>
  
  <%= render 'layouts/buttons_submit', path: path, f: f, mostrar_aceptar: puede_editar %>

<% end %>

<script defer>
  loadMapaScript('cargarUbicacionInstitucion');
</script>
