<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@institucion, :html => {:class => 'form-horizontal container-fluid'} ) do |f| %>
  <%= render 'shared/errors', obj: @institucion %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :nombre, :disabled => disabled %>
      <%= f.label :nombre, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :institucion_tipo_id, InstitucionTipo.all, :id, :nombre, {:include_blank => true}, {:disabled => disabled} %>
      <%= f.label :institucion_tipo_id, "Tipo", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :descripcion, class:"materialize-textarea", :disabled => disabled %>
      <%= f.label :descripcion, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :direccion, :disabled => disabled %>
      <%= f.label :direccion, 'Dirección', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :contacto, :disabled => disabled %>
      <%= f.label :contacto, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :telefono, :disabled => disabled %>
      <%= f.label :telefono, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :codigo_postal, :disabled => disabled %>
      <%= f.label :codigo_postal, 'Código postal', class: "active" %>
    </div>
  </div>
 
  <%= f.hidden_field :latitud, class: "form-control", :disabled => disabled %>
  <%= f.hidden_field :longitud, class: "form-control", :disabled => disabled %>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "col-md-1 control-label", for: "googleMapPersona" %>
    <div class="col-md-10">
      <div id="googleMapPersona" class="mapaUbicacionPersona"></div>
    </div>
  </div>
  
  <%= render 'layouts/buttons_submit', path: path, f: f, mostrar_aceptar: puede_editar %>

<% end %>

<script defer>
  loadMapaScript('cargarUbicacionInstitucion');
</script>
