<div clas="row">
  <%= form_for(@user, :html => {:class => 'form-horizontal container-fluid'}) do |f| %>
    <%= render 'shared/errors', obj: @user %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.email_field :email, :readonly => true %>
        <%= f.label :email, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name %>
        <%= f.label :name, "Nombre", class: "active" %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :apellido %>
        <%= f.label :apellido, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :telefono, type: "number" %>
        <%= f.label :telefono, t("common.telefono"), class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :fecha_nacimiento, class: "datepicker" %>
        <%= f.label :fecha_nacimiento, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select :jornada_ids, Jornada.all, :id, :nombre, {:include_blank => true}, {multiple: true} %>
        <%= f.label :jornada_ids, 'Días', class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.collection_select :area_id, Area.activas, :id, :nombre, {:include_blank => false} %>
        <%= f.label :area_id, "Sede", class: "active"%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.collection_select :rol_id, Rol.all, :id, :nombre, {:include_blank => false} %>
        <%= f.label :rol_id, 'Roles', class: "active" %>
      </div>
    </div>

    <%= render 'layouts/buttons_submit', path: users_path, f: f, remote: false, mostrar_aceptar: RolDataAccess.puede_editar_usuarios(current_user) %>

  <% end %>
</div>