<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info users %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Área</th>
          <th>Rol</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.apellido %></td>
            <% if user.area.nil? %>
              <td>Sin Área</td>
            <% else %>
              <td><%= user.area.nombre %></td>
            <% end %>
            <% if user.rol.nil? %>
              <td>Sin rol</td>
            <% else %>
              <td><%= user.rol.nombre %></td>
            <% end %>
            <td><%= user.email %></td>
            <td>
              <%= link_to '', edit_user_path(user), {
                  class: 'glyphicon glyphicon-edit',
                  title: t("common.ver_editar")
                }
              %>
              <%= link_to '', user,
                method: :delete,
                data: { confirm: '¿Estás seguro?' },
                class: 'glyphicon glyphicon-remove',
                title: 'Borrar'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate users, renderer: BootstrapPagination::Rails, :class => 'sin-margen' %>
  </div>

</div>