<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info users %>
  </div>

  <div class="card">
    <div class="scroll">
      <table class="form-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sede</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Versión</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.apellido %></td>
              <% if user.area.nil? %>
                <td>Sin Sede</td>
              <% else %>
                <td><%= user.area.nombre %></td>
              <% end %>
              <% if user.rol.nil? %>
                <td>Sin rol</td>
              <% else %>
                <td><%= user.rol.nombre %></td>
              <% end %>
              <td><%= user.email %></td>
              <td><%= user.version %></td>
              <td>
                <%=
                  render 'layouts/acciones',
                         current_user: current_user,
                         edit_path: edit_user_path(user),
                         delete_path: user
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= will_paginate users %>

</div>
