<%= form_for(@evento, :html => {:class => 'col s12'}) do |f| %>
  <%= render 'shared/errors', obj: @evento %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :titulo %>
      <%= f.label :titulo, 'Título', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :descripcion %>
      <%= f.label :descripcion, 'Descripción', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :fecha_desde, class: "datepicker" %>
      <%= f.label :fecha_desde, 'Fecha Desde', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :fecha_hasta, class: "datepicker" %>
      <%= f.label :fecha_hasta, 'Fecha Hasta', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :ubicacion %>
      <%= f.label :ubicacion, "Ubicación", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :person_id, Person.activas, :id, :full_name, {:include_blank => false} %>
      <%= f.label :person_id, "Persona", class: "active" %>
    </div>
  </div>

  <%= render 'layouts/buttons_submit', path: eventos_path, f: f, remote: false, mostrar_aceptar: true %>
<% end %>
