<% modal ||= false %>
<% remote = modal ? true : false %>
<% label_col = remote ? "col-md-2" : "col-md-1" %>
<% input_col = remote ? "col-md-9" : "col-md-10" %>
<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@pedido, remote: remote, :html => {'data-model' => 'pedido', :class => 'form-horizontal container-fluid'})  do |f| %>
  <%= render 'shared/errors', obj: @pedido %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :person_id, Person.activas, :id, :nombre, {:include_blank => true}, {:disabled => disabled} %>
      <%= f.label :person_id, "Persona", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :fecha, class: "datepicker", :disabled => disabled %>
      <%= f.label :fecha, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :descripcion, class:"materialize-textarea", :disabled => disabled %>
      <%= f.label :descripcion, 'Descripción', class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <label>
        <%= f.check_box :completado, class:"filled-in", :disabled => disabled %>
        <span>Completado</span>
      </label>
    </div>
  </div>

  <%= render 'layouts/buttons_submit', path: pedidos_path, f: f, remote: remote, mostrar_aceptar: !disabled %>

<% end %>
