<%= form_for(@welcome_message) do |f| %>
  <% if @welcome_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@welcome_message.errors.count, "error") %> prohibited this welcome_message from being saved:</h2>

      <ul>
      <% @welcome_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mensaje %><br>
    <%= f.text_field :mensaje %>
  </div>
  <div class="field">
    <%= f.label :fecha_desde %><br>
    <%= f.datetime_select :fecha_desde %>
  </div>
  <div class="field">
    <%= f.label :fecha_hasta %><br>
    <%= f.datetime_select :fecha_hasta %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
