<%= showNotice %>

<p>
  <strong>Mensaje:</strong>
  <%= @welcome_message.mensaje %>
</p>

<p>
  <strong>Fechadesde:</strong>
  <%= @welcome_message.fecha_desde %>
</p>

<p>
  <strong>Fechahasta:</strong>
  <%= @welcome_message.fecha_hasta %>
</p>

<p>
  <strong>Person:</strong>
  <%= @welcome_message.person %>
</p>

<%= link_to 'Edit', edit_welcome_message_path(@welcome_message) %> |
<%= link_to 'Back', welcome_messages_path %>
