<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<% puede_editar ||= false %>
<% disabled = !puede_editar %>

<%= form_for(@area, remote: remote, :html => {'data-model' => 'area', :class => 'form-horizontal container-fluid'} ) do |f| %>

  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errores.errores') %></h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'layouts/text_field', name: :nombre, label_name: :nombre, label_name_for: "area_nombre", f: f, remote: remote, puede_editar: RolDataAccess.is_admin(current_user) %>


  <%= render 'layouts/buttons_submit', path: areas_path, f: f, remote: remote, mostrar_aceptar: RolDataAccess.is_admin(current_user) %>

<% end %>
