<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info areas %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @areas.each do |area| %>
          <tr>
            <td><%= area.nombre %></td>
            <td>
              <%= link_to '', edit_area_path(area), {
                  class: 'glyphicon glyphicon-edit',
                  title: t("common.ver_editar")
                }
              %>
              <%= link_to '', area,
                method: :delete,
                data: { confirm: '¿Estás seguro?' },
                class: 'glyphicon glyphicon-remove',
                title: 'Borrar'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate areas, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>