<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<% puede_editar ||= false %>
<% label_col = remote ? "col-md-2" : "col-md-1" %>
<% input_col = remote ? "col-md-9" : "col-md-10 " %>

<%= form_for(@zone, remote: remote, :html => {'data-model' => 'zone', :class => 'form-horizontal container-fluid'} ) do |f| %>
  <%= render 'shared/errors', obj: @zone %>

  <%= render 'layouts/text_field', name: :nombre, label_name: :nombre, label_name_for: "zone_nombre", f: f, remote: remote, puede_editar: puede_editar %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :area_id, Area.activas, :id, :nombre, {:include_blank => false} %>
      <%= f.label :area_id, "Sede", class: "active" %>
    </div>
  </div>

  <div class="row">
    <% if !Rails.env.production? %>
      <div class="input-field col s6">
        <%= f.text_field :latitud %>
        <%= f.label :latitud, class: "active" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :longitud %>
        <%= f.label :longitud, class: "active" %>
      </div>
    <% else %>
      <%= f.hidden_field :latitud %>
      <%= f.hidden_field :longitud %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "#{label_col} control-label", for: "googleMapZona" %>
    <div class="<%= input_col %>">
      <div id="googleMapZona" class="mapaUbicacionZona"></div>
    </div>
  </div>

  <%= render 'layouts/buttons_submit', path: zones_path, f: f, remote: remote, mostrar_aceptar: puede_editar %>

<% end %>

<% if !remote %>
  <script defer>
    loadMapaScript('cargarUbicacionZona');
  </script>
<% end %>
