<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@zone, remote: remote, :html => {:class => 'form-horizontal container-fluid'} ) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label", for: "zone_nombre" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Area", class: "col-md-1 control-label", for: "zone_area_id" %>
    <div class="col-md-10">
      <%= f.collection_select :area_id, Area.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :latitud, class: "col-md-1 control-label", for: "zone_latitud" %>
    <div class="col-md-10">
      <%= f.text_field :latitud, class: "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :longitud, class: "col-md-1 control-label", for: "zone_longitud" %>
    <div class="col-md-10">
      <%= f.text_field :longitud, class: "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label 'Ubicación', class: "col-md-1 control-label", for: "googleMap" %>
    <div class="col-md-10">
      <div id="googleMap" class="mapaUbicacionZona form-control"></div>
    </div>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

 <script defer>
  loadMapaScript('cargarUbicacionZona');
 </script>
