<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info zones %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Área</th>
        <% if !Rails.env.production? %>
          <th>Latitud</th>
          <th>Longitud</th>
        <% end %>
        <% if RolDataAccess.is_admin(current_user) %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @zones.each do |zone| %>
        <tr>
          <td><%= zone.nombre %></td>
          <% if zone.area.nil? %>
            <td>Sin Area</td>
          <% else %>
            <td><%= zone.area.nombre %></td>
          <% end %>
          <% if !Rails.env.production? %>
            <td><%= zone.latitud %></td>
            <td><%= zone.longitud %></td>
          <% end %>
          <td>
            <%=
              render 'layouts/acciones',
              current_user: current_user,
              edit_path: RolDataAccess.puede_editar_zona(current_user) ? edit_zone_path(zone) : nil,
              delete_path: RolDataAccess.puede_editar_zona(current_user) ? zone : nil
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate zones, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>
