<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info zones %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Área</th>
        <% if !Rails.env.production? %>
          <th>Latitud</th>
          <th>Longitud</th>
        <% end %>
        <th>Ver / Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <% @zones.each do |zone| %>
        <tr>
          <td><%= zone.nombre %></td>
          <% if zone.area.nil? %>
            <td>Sin Area</td>
          <% else %>
            <td><%= zone.area.nombre %></td>
          <% end %>
          <% if !Rails.env.production? %>
            <td><%= zone.latitud %></td>
            <td><%= zone.longitud %></td>      
          <% end %>
          <td><%= link_to 'Ver / Editar', edit_zone_path(zone) %></td>
          <td><%= link_to 'Borrar', zone, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate zones, renderer: BootstrapPagination::Rails, :class => 'sin-margen' %>
  </div>

</div>