<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@familia, remote: remote, :html => {:class => 'form-horizontal container-fluid'}) do |f| %>
  <% if @familia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@familia.errors.count, "error") %> prohibited this familia from being saved:</h2>

      <ul>
      <% @familia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= f.label :nombre, class: "col-md-1 control-label", for: "familia_nombre" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Area", class: "col-md-1 control-label", for: "familia_area_id" %>
    <div class="col-md-10">
      <%= f.collection_select :area_id, Area.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Zona", class: "col-md-1 control-label", for: "familia_zona_id" %>
    <div class="col-md-10">
      <%= f.collection_select :zone_id, Zone.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Ranchada", class: "col-md-1 control-label", for: "familia_ranchada_id" %>
    <div class="col-md-10">
      <%= f.collection_select :ranchada_id, Ranchada.all, :id, :nombre, {:include_blank => 'Ninguna'}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :descripcion, class: "col-md-1 control-label", for: "familia_descripcion" %>
    <div class="col-md-10">
      <%= f.text_area :descripcion, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
