<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info familias %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Área</th>
          <th><%= t("activerecord.models.zone.one") %></th>
          <th>Ranchada</th>
          <th><%= t('common.descripcion') %></th>
          <% if RolDataAccess.is_admin(current_user) %>
            <th>Acciones</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @familias.each do |familia| %>
          <tr>
            <td><%= familia.nombre %></td>
            <td><%= familia.zone.area.nombre %></td>
            <td><%= familia.zone.nombre %></td>
            <td><%= familia.ranchada ? familia.ranchada.nombre : "" %></td>
            <td><%= familia.descripcion %></td>
            <td>
              <%=
                render 'layouts/acciones',
                current_user: current_user,
                edit_path: RolDataAccess.is_admin(current_user) ? edit_familia_path(familia) : nil,
                delete_path: RolDataAccess.is_admin(current_user) ? familia : nil
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate familias, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>