<div id="filterrific_results">

  <div>
    <%= page_entries_info familias %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Área</th>
          <th><%= t("activerecord.models.zone.one") %></th>
          <th>Ranchada</th>
          <th><%= t('common.descripcion') %></th>
          <th>Ver / Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>

      <tbody>
        <% @familias.each do |familia| %>
          <tr>
            <td><%= familia.nombre %></td>
            <td><%= familia.zone.area.nombre %></td>
            <td><%= familia.zone.nombre %></td>
            <td><%= familia.ranchada ? familia.ranchada.nombre : "" %></td>
            <td><%= familia.descripcion %></td>
            <td><%= link_to 'Ver / Editar', edit_familia_path(familia) %></td>
            <td><%= link_to 'Borrar', familia, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate familias, renderer: BootstrapPagination::Rails, :class => 'pagination-centered' %>

</div>