<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info familias %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Área</th>
          <th><%= t("activerecord.models.zone.one") %></th>
          <th>Ranchada</th>
          <th><%= t('common.descripcion') %></th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @familias.each do |familia| %>
          <tr>
            <td><%= familia.nombre %></td>
            <td><%= familia.zone.area.nombre %></td>
            <td><%= familia.zone.nombre %></td>
            <td><%= familia.ranchada ? familia.ranchada.nombre : "" %></td>
            <td><%= familia.descripcion %></td>
            <td>
              <%= link_to '', edit_familia_path(familia), {
                  class: 'glyphicon glyphicon-edit',
                  title: t("common.ver_editar")
                }
              %>
              <%= link_to '', familia,
                method: :delete,
                data: { confirm: '¿Estás seguro?' },
                class: 'glyphicon glyphicon-remove',
                title: 'Borrar'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate familias, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>