<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @familia.nombre %>
</p>

<p>
  <strong>Area:</strong>
  <%= @familia.area %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @familia.zone %>
</p>

<p>
  <strong>Ranchada:</strong>
  <%= @familia.ranchada %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @familia.descripcion %>
</p>

<%= link_to 'Edit', edit_familia_path(@familia) %> |
<%= link_to 'Back', familias_path %>
