<% modal ||= false %>
<% remote = modal ? true : false %>

<% labelCol = modal ? "col-md-2" : "col-md-1" %>
<% inputCol = modal ? "col-md-9" : "col-md-10" %>


<%= form_for(@ranchada, remote: remote, :html => {:class => 'form-horizontal container-fluid'}) do |f| %>
  <% if @ranchada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ranchada.errors.count, "error") %> prohibited this ranchada from being saved:</h2>

      <ul>
      <% @ranchada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :nombre, class: "#{labelCol} control-label", for: "ranchada_nombre" %>
    <div class="<%= inputCol %>">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Area", class: "#{labelCol} control-label", for: "ranchada_area_id" %>
    <div class="<%= inputCol %>">
      <%= f.collection_select :area_id, Area.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Zona", class: "#{labelCol} control-label", for: "ranchada_zone_id" %>
    <div class="<%= inputCol %>">
      <%= f.collection_select :zone_id, Zone.all, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :descripcion, class: "#{labelCol} control-label", for: "familia_descripcion" %>
    <div class="<%= inputCol %>">
      <%= f.text_area :descripcion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :latitud, class: "#{labelCol} control-label", for: "ranchada_latitud" %>
      <div class="col-md-5">
        <%= f.text_field :latitud, class: "form-control" %>
      </div>
      <%= f.label :longitud, class: "#{labelCol} control-label", for: "ranchada_longitud" %>
      <div class="col-md-5">
        <%= f.text_field :longitud, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "#{labelCol} control-label", for: "googleMapRanchada" %>
    <div class="<%= inputCol %>">
      <div id="googleMapRanchada" class="mapaUbicacionZona form-control"></div>
    </div>
  </div> 

   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    

<% if !remote %>
  <script defer>
    loadMapaScript('cargarUbicacionRanchada');
  </script>
<% end %>