<% modal ||= false %>
<% remote = modal ? true : false %>
<% label_col = remote ? "col-md-2" : "col-md-1" %>
<% input_col = remote ? "col-md-9" : "col-md-10" %>


<%= form_for(@ranchada, remote: remote, :html => {'data-model' => 'ranchada', :class => 'form-horizontal container-fluid'}) do |f| %>
  <% if @ranchada.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errores.errores') %></h2>
      
      <ul>
      <% @ranchada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'layouts/text_field', name: :nombre, label_name: :nombre, label_name_for: "ranchada_nombre", f: f, remote: remote %>

  <div class="form-group">
    <%= f.label "Área", class: "#{label_col} control-label", for: "ranchada_area_id" %>
    <div class="<%= input_col %>">
      <%= f.collection_select :area_id, Area.activas, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Zona", class: "#{label_col} control-label", for: "ranchada_zone_id" %>
    <div class="<%= input_col %>">
      <%= f.collection_select :zone_id, @zonas, :id, :nombre, {:include_blank => false}, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :descripcion, class: "#{label_col} control-label", for: "familia_descripcion" %>
    <div class="<%= input_col %>">
      <%= f.text_area :descripcion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <% if !Rails.env.production? %>
      <%= f.label :latitud, class: "#{label_col} control-label", for: "ranchada_latitud" %>
      <div class="col-md-4">
        <%= f.text_field :latitud, class: "form-control" %>
      </div>
      <%= f.label :longitud, class: "#{label_col} control-label", for: "ranchada_longitud" %>
      <div class="col-md-4">
        <%= f.text_field :longitud, class: "form-control" %>
      </div>
    <% else %>
      <%= f.hidden_field :latitud, class: "form-control" %>
      <%= f.hidden_field :longitud, class: "form-control" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'Ubicación', class: "#{label_col} control-label", for: "googleMapRanchada" %>
    <div class="<%= input_col %>">
      <div id="googleMapRanchada" class="mapaUbicacionZona form-control"></div>
    </div>
  </div> 

  <%= render 'layouts/buttons_submit', path: ranchadas_path, f: f, remote: remote %>

<% end %>
    

<% if !remote %>
  <script defer>
    loadMapaScript('cargarUbicacionRanchada');
  </script>
<% end %>