<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info ranchadas %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Área</th>
          <th>Zona</th>
          <th><%= t('common.descripcion') %></th>
          <% if !Rails.env.production? %>
            <th>Latitud</th>
            <th>Longitud</th>
          <% end %>
          <% if RolDataAccess.is_admin(current_user) %>
            <th>Acciones</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @ranchadas.each do |ranchada| %>
          <tr>
            <td><%= ranchada.nombre %></td>
            <td><%= ranchada.zone.area.nombre %></td>
            <td><%= ranchada.zone.nombre %></td>
            <td><%= ranchada.descripcion %></td>
            <% if !Rails.env.production? %>
              <td><%= ranchada.latitud %></td>
              <td><%= ranchada.longitud %></td>
            <% end %>
            <td>
              <%=
                render 'layouts/acciones',
                current_user: current_user,
                edit_path: RolDataAccess.is_admin(current_user) ? edit_ranchada_path(ranchada) : nil,
                delete_path: RolDataAccess.is_admin(current_user) ? ranchada : nil
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate ranchadas, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>