<p id="notice"><%= notice %></p>

<h1>Listing Ranchadas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Area</th>
      <th>Zone</th>
      <th>Descripcion</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranchadas.each do |ranchada| %>
      <tr>
        <td><%= ranchada.nombre %></td>
        <td><%= ranchada.area %></td>
        <td><%= ranchada.zone %></td>
        <td><%= ranchada.descripcion %></td>
        <td><%= ranchada.latitud %></td>
        <td><%= ranchada.longitud %></td>
        <td><%= link_to 'Show', ranchada %></td>
        <td><%= link_to 'Edit', edit_ranchada_path(ranchada) %></td>
        <td><%= link_to 'Destroy', ranchada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranchada', new_ranchada_path %>
