<p id="notice"><%= notice %></p>

<h2 class="sub-header">Ranchadas</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Area</th>
        <th>Zona</th>
        <th>Descripcion</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ver / Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>

    <tbody>
      <% @ranchadas.each do |ranchada| %>
        <tr>
          <td><%= ranchada.nombre %></td>
          <td><%= ranchada.area.nombre %></td>
          <td><%= ranchada.zone.nombre %></td>
          <td><%= ranchada.descripcion %></td>
          <td><%= ranchada.latitud %></td>
          <td><%= ranchada.longitud %></td>
          <td><%= link_to 'Ver / Editar', edit_ranchada_path(ranchada) %></td>
          <td><%= link_to 'Borrar', ranchada, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Ranchada', new_ranchada_path %>
