<p id="notice"><%= notice %></p>

<h2 class="sub-header">Ranchadas</h2>

<%= render 'layouts/filtros', label_searcher: "Nombre" %>

<%= render_filterrific_spinner %>

<%= render 'list', ranchadas: @ranchadas %>

<br>

<%= render 'layouts/new_button', :label => 'Nueva ranchada', :path => new_ranchada_path %>
