<%= showNotice %>

<p>
  <strong>Nombre:</strong>
  <%= @ranchada.nombre %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ranchada.area %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @ranchada.zone %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ranchada.descripcion %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @ranchada.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @ranchada.longitud %>
</p>

<%= link_to 'Edit', edit_ranchada_path(@ranchada) %> |
<%= link_to 'Back', ranchadas_path %>
