<div class="row">
  <%= form_for(@notificacion, :html => {:class => 'col s12'}) do |f| %>
    <%= render 'shared/errors', obj: @notificacion %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :titulo %>
        <%= f.label :titulo, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :subtitulo %>
        <%= f.label :subtitulo, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :fecha_desde, id: "datetimefrom" %>
        <%= f.label :fecha_desde, 'Fecha Desde', class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :fecha_hasta, id: "datetimeto" %>
        <%= f.label :fecha_hasta, 'Fecha Hasta', class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :descripcion, class:"materialize-textarea" %>
        <%= f.label :descripcion, 'Descripción', class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.collection_select :frecuencia_tipo_id, FrecuenciaTipo.all, :id, :nombre, {:include_blank => false} %>
        <%= f.label :frecuencia_tipo_id, 'Frecuencia', class: "active" %>
      </div>

      <div class="input-field col s4">
        <%= f.text_field :frecuencia_cant %>
        <%= f.label :frecuencia_cant, 'Repeticiones' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.collection_select :rol_ids, Rol.activos, :id, :nombre, {:include_blank => true}, {multiple: true} %>
        <%= f.label :rol_ids, 'Roles', class: "active" %>
      </div>

      <div class="input-field col s4 offset-s2">
        <%= f.collection_select :area_ids, Area.activas, :id, :nombre, {:include_blank => true}, {multiple: true} %>
        <%= f.label :area_ids, "Sedes", class: "active"%>
      </div>
    </div>

    <%= render 'layouts/buttons_submit', path: notificaciones_path, f: f, remote: false, mostrar_aceptar: RolDataAccess.puede_ver_notificaciones(current_user) %>

  <% end %>
</div>
