<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info notificaciones %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Prox Notificación</th>
          <th>Tipo</th>
          <th>Frecuencia</th>
          <th>Roles</th>
          <th>Finalizada</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @notificaciones.each do |notificacion| %>
          <tr>
            <td><%= notificacion.titulo %></td>
            <td><%= notificacion.subtitulo %></td>
            <td><%= notificacion.fecha_desde %></td>
            <td><%= notificacion.fecha_hasta if notificacion.frecuencia_tipo.code != FrecuenciaTipo::UNICA %></td>
            <td><%= notificacion.prox_envio %></td>
            <td><%= notificacion.notificacion_tipo.nombre if !notificacion.notificacion_tipo.nil? %></td>
            <td><%= notificacion.frecuencia %></td>
            <td>
              <% notificacion.roles.each do |rol| %>
                <%= rol.nombre %>
              <% end %>
            </td>
            <td><%= notificacion.finalizada ? 'Si' : 'No' %></td>
            <td>
              <%= link_to '', edit_notificacion_path(notificacion), {
                  class: 'glyphicon glyphicon-edit',
                  title: t("common.ver_editar")
                }
              %>
              <%= link_to '', notificacion,
                method: :delete,
                data: { confirm: '¿Estás seguro?' },
                class: 'glyphicon glyphicon-remove',
                title: 'Borrar'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginacion">
    <%= will_paginate notificaciones, renderer: BootstrapPagination::Rails, :class => 'estilos-paginacion' %>
  </div>

</div>