<div id="filterrific_results">

  <div class="container-fluid">
    <%= page_entries_info notificaciones %>
  </div>

  <div class="card">
    <div class="scroll">
      <table class="form-table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Subtítulo</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Prox Notificación</th>
            <th>Frecuencia</th>
            <th>Roles</th>
            <th>Finalizada</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @notificaciones.each do |notificacion| %>
            <tr>
              <td><%= notificacion.titulo %></td>
              <td><%= notificacion.subtitulo %></td>
              <td><%= notificacion.fecha_desde %></td>
              <td><%= notificacion.fecha_hasta if notificacion.frecuencia_tipo.code != FrecuenciaTipo::UNICA %></td>
              <td><%= notificacion.prox_envio %></td>
              <td><%= notificacion.frecuencia %></td>
              <td>
                <% notificacion.roles.each do |rol| %>
                  <%= rol.nombre %>
                <% end %>
              </td>
              <td><%= notificacion.finalizada ? 'Si' : 'No' %></td>
              <td>
                <%=
                  render 'layouts/acciones',
                         current_user: current_user,
                         edit_path: edit_notificacion_path(notificacion),
                         delete_path: notificacion
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= will_paginate notificaciones %>

</div>