
<h2 class="sub-header">Notificaciones</h2>

<div class="container-fluid">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>

      <div class="col s2 m3">
        <%= f.text_field(
          :with_titulo,
          class: 'filterrific-periodically-observed form-control',
          placeholder: 'Título'
        ) %>
      </div>

      <div class="col s3 offset-s1">
        <%= f.text_field(
          :fecha_gte,
          placeholder: 'Desde',
          class: "datepicker"
        ) %>
      </div>

      <div class="col s3 offset-s1">
        <%= f.text_field(
          :fecha_lte,
          placeholder: 'Hasta',
          class: "datepicker"
        ) %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'list', notificaciones: @notificaciones %>

<%= render 'layouts/new_button', :label => 'Nueva notificacion', :path => new_notificacion_path %>

<script type="text/javascript">
  $('#filterrific_fecha_gte').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es'
  });
  $('#filterrific_fecha_lte').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es'
  });
</script>
