
<h2 class="sub-header">Notificaciones</h2>

<div class="table-responsive well">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row-fluid">
      <div class="col-xs-12 col-md-6 margen-vert">
        Tipo
        <%= f.select(
          :with_tipo,
          @filterrific.select_options[:with_notificacion_tipo],
          { include_blank: 'Todos' }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-6 margen-vert">
        Título
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :with_titulo,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-6 margen-vert">
        Desde
        <%= f.date_field :fecha_gte %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-6 margen-vert">
        Hasta
        <%= f.date_field :fecha_lte %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'list', notificaciones: @notificaciones %>

<%= render 'layouts/new_button', :label => 'Nueva notificacion', :path => new_notificacion_path %>