<p id="notice"><%= notice %></p>

<p>
  <strong>Latitud:</strong>
  <%= @location.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @location.longitud %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @location.fecha %>
</p>

<p>
  <strong>Person:</strong>
  <%= @location.person %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
