<% label_searcher ||= false %>

<div class="container-fluid">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
        <div class="col s2">
          <%= f.select(
            :with_area_id,
            @filterrific.select_options[:with_area_id],
            { include_blank: 'Sede' },
            { class: "form-control" }
          ) %>
        </div>

        <div class="col s2" style="padding-right:15px">
          <%= f.select(
            :with_zone_id,
            @filterrific.select_options[:with_zone_id],
            { include_blank: 'Zona' },
            { class: "form-control" }
          ) %>
        </div>

        <% if RolDataAccess.puede_ver_estado(current_user) %>
          <div class="col s2">
            <%= f.select(
              :with_estado_id,
              @filterrific.select_options[:with_estado_id],
              { include_blank: t("activerecord.models.estado.one") },
              { class: "form-control" }
            ) %>
          </div>
        <% end %>

        <div class="col s3 offset-s1">
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed form-control',
            placeholder: label_searcher ? label_searcher : 'Nombre / Apodo'
          ) %>
        </div>

    <% end %>
  </div>
</div>

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $('#filterrific_with_departamento_id').select({
      title: 'Áreas',
      numberDisplayed: 1,
      nSelectedText: ' seleccionados',
      allSelectedText: 'Todos'
    });
</script>
