<% label_searcher ||= false %>

<div class="table-responsive well">

  <%= form_for_filterrific @filterrific do |f| %>
    <div class="row-fluid">
      <div class="col-xs-12 col-md-2 margen-vert">
        <%= f.select(
          :with_area_id,
          @filterrific.select_options[:with_area_id],
          { include_blank: 'Ãrea' },
          { class: "form-control" }
        ) %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-2 margen-vert">
        <%= f.select(
          :with_zone_id,
          @filterrific.select_options[:with_zone_id],
          { include_blank: 'Zona' },
          { class: "form-control" }
        ) %>
      </div>
    </div>

    <% if RolDataAccess.puede_ver_estado(current_user) %>
      <div class="row-fluid">
        <div class="col-xs-12 col-md-2 margen-vert">
          <%= f.select(
            :with_estado_id,
            @filterrific.select_options[:with_estado_id],
            { include_blank: t("activerecord.models.estado.one") },
            { class: "form-control" }
          ) %>
        </div>
      </div>
    <% end %>

    <% if RolDataAccess.puede_ver_departamento(current_user) %>
      <div class="row-fluid">
        <div class="col-xs-12 col-md-2 margen-vert">
          <%= f.select(
            :with_departamento_id,
            @filterrific.select_options[:with_departamento_id],
            { include_blank: t("activerecord.models.departamento.other") },
            multiple: true
          ) %>
        </div>
      </div>
    <% end %>

    <div class="row-fluid">
      <div class="col-xs-12 col-md-4 margen-vert">
        <% if label_searcher %>
         <%= label_searcher %>
        <% else %>
          Nombre / Apodo
        <% end %>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          { class: 'filterrific-periodically-observed form-control' }
        ) %>
      </div>
    </div>

  <% end %>

</div>

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $('#filterrific_with_departamento_id').multiselect();
</script>
