<ul id="people-dropdown" class="dropdown-content">
  <li><%= link_to 'Ver Personas', people_path %></li>
  <li><%= link_to 'Nueva Persona', new_person_path %></li>
</ul>
<% if RolDataAccess.puede_ver_institucion(current_user) %>
  <ul id="instituciones-dropdown" class="dropdown-content">
    <li><%= link_to 'Ver Instituciones', instituciones_path %></li>
    <li><%= link_to 'Nueva Institución', new_institucion_path %></li>
  </ul>
<% end %>
<ul id="visitas-dropdown" class="dropdown-content">
  <li><%= link_to 'Ver Visitas', visits_path %></li>
  <li><%= link_to 'Nueva Visita', new_visit_path %></li>
</ul>

<ul id="pedidos-dropdown" class="dropdown-content">
  <li><%= link_to 'Ver Pedidos', pedidos_path %></li>
  <li><%= link_to 'Nuevo Pedido', new_pedido_path %></li>
</ul>

<ul id="configuracion-dropdown" class="dropdown-content">
  <% if RolDataAccess.puede_editar_area(current_user) %>
    <li><%= link_to 'Sedes', areas_path %></li>
  <% end %>
  <% if RolDataAccess.puede_editar_zona(current_user) %>
    <li><%= link_to 'Zonas', zones_path %></li>
  <% end %>
  <% if RolDataAccess.is_admin(current_user) %>
    <li><%= link_to 'Auditoría', auditoria_index_path %></li>
    <li><%= link_to 'Calendario', calendario_path %></li>
  <% end %>
  <% if RolDataAccess.puede_editar_departamento(current_user) %>
    <li><%= link_to 'Áreas', departamentos_path %></li>
  <% end %>
  <% if RolDataAccess.puede_editar_estado(current_user) %>
    <li><%= link_to 'Estados', estados_path %></li>
  <% end %>
  <% if RolDataAccess.puede_ver_informes(current_user) %>
    <li><%= link_to 'Informes', informes_path %></li>
  <% end %>
  <% if RolDataAccess.puede_ver_notificaciones(current_user) %>
    <li><%= link_to 'Notificaciones', notificaciones_path %></li>
  <% end %>
  <% if RolDataAccess.puede_editar_usuarios(current_user) %>
    <li><%= link_to "Usuarios", users_path %></li>
  <% end %>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to image_tag("logo22.png", size: "50x50", :alt => "TpRecorridasZO"), root_path, {class: 'brand-logo'} %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="<%= 'active' if params[:controller] == 'people' %>"><a class="dropdown-trigger" data-target="people-dropdown">Personas<i class="material-icons right">arrow_drop_down</i></a></li>
            <% if RolDataAccess.puede_ver_institucion(current_user) %>
              <li class="<%= 'active' if params[:controller] == 'instituciones' %>"><a class="dropdown-trigger" data-target="instituciones-dropdown">Instituciones<i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
          <li class="<%= 'active' if params[:controller] == 'visits' %>"><a class="dropdown-trigger" data-target="visitas-dropdown">Visitas<i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="<%= 'active' if params[:controller] == 'pedidos' %>"><a class="dropdown-trigger" data-target="pedidos-dropdown">Pedidos<i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="<%= 'active' if params[:controller] == 'configuraciones' %>"><a class="dropdown-trigger" data-target="configuracion-dropdown">Configuración<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><%= link_to 'Personas', people_path %></li>
  <% if RolDataAccess.puede_ver_institucion(current_user) %>
    <li><%= link_to 'Instituciones', instituciones_path %></li>
  <% end %>
  <li><%= link_to 'Visitas', visits_path %></li>
  <li><%= link_to 'Pedidos', pedidos_path %></li>
  <li><%= link_to 'Configuración', configuraciones_path %></li>
</ul>
<!--  <nav class="navbar-default barra">-->
<!--    <div class="container-fluid">-->

<!--      <div class="navbar-header">-->
<!--        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--          <span class="sr-only">Toggle navigation</span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--        </button>-->
<%#= link_to image_tag("logo22.png", size: "50x50", :alt => "TpRecorridasZO"), root_path, {class: 'logoRecorridas'} %>
<!--      </div>-->


<!--      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--        <ul class="nav navbar-nav">-->
<%# if current_user && current_user.rol_id != 5 %>
<!--            <li class="<%#= 'active' if params[:controller] == 'mapa' %>"><%#= link_to 'Inicio', root_path %></li>-->
<!--            <li class="<%#= 'active' if params[:controller] == 'people' %>"><%#= link_to 'Personas', people_path %></li>-->
<%# if RolDataAccess.puede_ver_institucion(current_user) %>
<!--              <li class="<%#= 'active' if params[:controller] == 'instituciones' %>"><%#= link_to 'Instituciones', instituciones_path %></li>-->
<%# end %>
<!--            <li class="<%#= 'active' if params[:controller] == 'visits' %>"><%#= link_to 'Visitas', visits_path %></li>-->
<!--            <li class="<%#= 'active' if params[:controller] == 'pedidos' %>"><%#= link_to 'Pedidos', pedidos_path %></li>-->
<!--            <li class="<%#= 'active' if params[:controller] == 'configuraciones' %>"><%#= link_to 'Configuración', configuraciones_path %></li>-->
<%# end %>
<!--        </ul>-->

<!--        <ul class="nav navbar-nav navbar-right">-->
<%# if user_signed_in? %>
<!--            <li>-->
<%#= link_to('Salir', destroy_user_session_path, :method => :delete) %>
<!--            </li>-->
<!--            <li>-->
<%# if !current_user.name.blank? %>
<%#= link_to(current_user.name, edit_user_registration_path(current_user)) %>
<%# else %>
<%#= link_to(current_user.email, edit_user_registration_path(current_user)) %>
<%# end %>
<!--            </li>-->
<%# else %>
<!--            <li>-->
<%#= link_to('Ingresar', new_user_session_path)  %>
<!--            </li>-->
<%# end %>
<!--        </ul>-->

<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->