<!DOCTYPE html>
<html>
<head>
  <title>TpRecorridasZO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-sidebar leftMenu">
	<li class="active"><%= link_to 'Inicio', root_path %></li>
	<li><%= link_to 'Personas', people_path %></li>
	<li><%= link_to 'Visitas', visits_path %></li>
	<li><%= link_to 'Configuracion', root_path %></li>
</ul>

<%= yield %>

</body>
</html>
